<li>
  <%= gravatar_for user %>
  <%= link_to user.email, user %>
<% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Supprimer", user, method: :delete, confirm: "Etes vous sur?" %>
  <% end %>
</li>