

  <body>

   

   

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Bonjour les Gros!</h1>
        <p>Ce site est totalement gratuit et vous permez de suivre l'evolution de votre régime . Utilisez le comme un instrument de motivation et gardez la trace des repas qui vous font maigrir ou grossir.Pensez à garder une alimentation équilibrée et à varier vos aliments.</p>
        <p><a class="btn btn-primary btn-large">J'y vais &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Maigrir</h2>
           <p>Suivez votre perte de poids en enregistrant vos pesées à votre rythme. </p>
          <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Manger</h2>
           <p>Garder la trace des repas qui vous font maigrir. Echangez vos recettes, decouvrez celles des autres </p>
          <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Bouger</h2>
          <p>Enregistrez vos activités physiques et suivez votre dépense calorique.</p>
          <p><a class="btn" href="#">En savoir plus &raquo;</a></p>
        </div>
      
   
   

